# bundler config.
/.bundle

# the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Byebug command history file.
.byebug_history

# wiki
/instatodo.wiki
