<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<% @tasks = [
  { id: 1, title: 'hola', description: 'desc', completed: true },
  { id: 2, title: 'hola 2', description: 'desc 2', completed: false }
] %>

<%= react_component 'TaskList', tasks: @tasks %>

<br>

<%= link_to 'New Task', new_task_path %>
