<br>
<br>
<br>
<br>

<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <%= form_for @todo do |f| %>
      <div class='form-group'>
        <div class="input-group">
          <%= f.text_field :title, class: 'form-control' %>
          <span class="input-group-btn">
            <%= f.submit 'Create', class: "btn btn-primary createTodo" %>
          </span>
        </div>
    <% end %>

  </div>
</div>
